<!-- Category Selector -->
<!-- <app-category-row
  [categories]="categories"
  (categorySelected)="onCategorySelect($event)"
></app-category-row> -->

<!-- Event Grid -->
<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4 m-8"
>
  <div
    *ngFor="let event of events"
    class="relative m-1 bg-white/10 backdrop-blur-md rounded-xl shadow-neutral-700 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out border border-white/100 h-96 flex flex-col justify-end overflow-hidden"
    [ngStyle]="{
      'background-image': 'url(' + event.imageUrl + ')',
      'background-size': 'cover',
      'background-position': 'center'
    }"
  >
    <div class="bg-black/30 backdrop-blur-3xl p-4">
      <h3 class="text-lg font-bold text-white mb-1">{{ event.title }}</h3>
      <p class="text-sm text-gray-300 font-medium mb-0">
         Price: ₹{{ event.price }}
      </p>
      <div class="flex flex-wrap gap-2">
        <app-generic-button
          label="Add to Cart"
          theme="primary"
          (clicked)="addToCart(event.id)"
          class="text-white"
        ></app-generic-button>

        <app-generic-button
          label="View Details"
          theme="secondary"
          (clicked)="getEventDetail(event.id)"
          class="text-white"
        ></app-generic-button>
      </div>
    </div>
  </div>
</div>
