<app-category-row
  [categories]="categories"
  (categorySelected)="onCategorySelect($event)"
></app-category-row>

<!-- Event Grid -->
<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4 m-8"
>
  <div
    *ngFor="let event of events"
    class="relative m-1 bg-white/10 backdrop-blur-md rounded-xl shadow-neutral-700 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out border border-white/20 h-96 flex flex-col justify-end overflow-hidden"
    [ngStyle]="{
      'background-image': 'url(' + event.imageUrl + ')',
      'background-size': 'cover',
      'background-position': 'center'
    }"
  >
    <div class="bg-black/10 backdrop-blur-3xl p-4">
      <h3 class="text-lg font-semibold text-white mb-1">{{ event.title }}</h3>
      <p class="text-sm text-gray-300">
        {{ event.date }} · {{ event.location }}
      </p>
      <button
        class="mt-4 w-auto px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded-md text-sm"
      >
        Book Now
      </button>
      <button
        (click)="getEventDetail(event.id)"
        class="mt-4 w-auto px-4 py-2 mx-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded-md text-sm transition-all duration-300"
      >
        View Details
      </button>
    </div>
  </div>
</div>