<button
  (click)="navigateToAddProduct()"
  class="px-4 py-2 bg-green-600 hover:bg-green-700 text-white rounded-md mb-4"
>
  + Add New Product
</button>

<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-2 m-0"
>
  <div
    *ngFor="let product of filteredProducts"
    class="relative m-1 bg-white/10 backdrop-blur-md rounded-xl shadow-neutral-700 hover:shadow-xl hover:scale-105 transition-all duration-300 ease-in-out border border-black/100 h-96 flex flex-col justify-end overflow-hidden"
    [ngStyle]="{
      'background-image': 'url(' + getFullImageUrl(product.image) + ')',
      'background-size': 'cover',
      'background-position': 'center'
    }"
  >
    <div class="bg-black/10 backdrop-blur-3xl p-4">
      <h3 class="text-lg font-bold text-white mb-1">{{ product.title }}</h3>
      <p class="text-sm font-medium text-white">Price: ₹ {{ product.price }}</p>
      <p class="text-sm font-medium text-white">
        Category: {{ product.categoryName }}
      </p>

      <div>
        <app-generic-button
          label="Modify"
          theme="primary"
          (clicked)="modifyProduct(product.id)"
          class="text-white"
        ></app-generic-button>

        <app-generic-button
          label="Delete"
          theme="danger"
          (clicked)="deleteProduct(product.id)"
          class="mx-2 text-white"
        ></app-generic-button>
      </div>
    </div>
  </div>
</div>
