<div
  *ngIf="event"
  class="max-w-4xl mx-auto my-10 bg-white/10 backdrop-blur-md p-6 rounded-xl shadow-lg border border-white/20"
>
  <img
    [src]="env.img + event.image"
    alt="{{ event.title }}"
    class="w-full h-96 object-cover rounded-lg mb-6"
  />

  <h1 class="text-3xl font-bold text-black mb-2">{{ event.title }}</h1>
  <p class="text-black-300 mb-1">
    <strong>Description :</strong> {{ event.description }}
  </p>
  <p class="text-black-300 mb-4"><strong>Price:</strong> {{ event.price }}</p>
  <app-generic-button
    label="Add to Cart"
    theme="primary"
    (clicked)="addToCart(event.id)"
    class="text-white"
  ></app-generic-button>
</div>
